.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* App.css */

body {
  background-image: url('C:\PRO PROJRC\Blog app\bloger\blogblog\src\bb2.avif');
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat;
  background-attachment: fixed; /* This keeps the image fixed as the user scrolls */
  margin: 0; /* Remove default margin to cover the entire viewport */
  padding: 0; /* Remove default padding */
  font-family: Arial, sans-serif; /* Specify a font family */
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
